*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --eerie-black-1: #172937;
    --eerie-black-2: #253644;
    --light-gray: hsl(0, 0%, 84%);
    --white-1: hsl(0, 0%, 100%);
    --orange-yellow-crayola: #f37021;
}



body{
    background-color: var(--eerie-black-1);
}
.secondary-text{
    color: var(--light-gray);
}

.h2_heading{
    color: white;
}
.about-ruler{
    color: orange;
    width: 30px;
    height:10px;
    background:orange ;
}


.container-fluid{
    background-color: var(--eerie-black-1);
    padding-top: 10px;
    
}

.container{
    background-color: var(--eerie-black-1);
    margin-top: 70px;
    padding-left: 0;
    padding-right: 0;
    color: white;
    
}
.main_div{
    padding: 30px;
    background-color: var(--eerie-black-2);
    border-radius: 25px;
}
.sidebar{
    background-color: var(--eerie-black-2);
    height: 100%;
    border-radius: 25px;

}

.my-avatar-div{
    padding-top: 10px;  
}
.my-avatar{
    border-radius: 25px;
    position: inherit;
    
    width: 150px;
    background: white;
}
.name{
    color: white;
}
p{
    color: var(--light-gray);
}

.w-i-m-row-item{
    background-color: var(--eerie-black-1);
    border-radius: 20px;
}